{% extends "citysay/layout.html" %}

{% block title %}Creare sesizare{% endblock title %}

{% block body %}

<div class="section-title">Trimiteti o sesizare</div>

<form action="{% url "create_sesization" %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="sesization-title" class="form-label">Titlu Sesizare</label>
        <input type="text" class="form-control" id="sesization-title" placeholder="Titlu sesizare" name="title" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="institution" class="form-label">Instituția vizată:</label>
        <select class="form-select" name="institution" id="institution" required>
            <option value="" disabled>Selectați o instituție</option>
            {% for abbr, name in institutions.items %}
            <option value="{{abbr}}">{{name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="sesization-description" class="form-label">Descriere problema:</label>
        <textarea class="form-control" rows="5" name="description" id="sesization-description"></textarea>
    </div>
    <button type="submit">Trimiteti sesizarea</button>
</form>
{% endblock body %}