{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    {% comment %} <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 sidebar">
                <h2>UpTrack</h2>
                {% if user.is_authenticated %}
                <ul>
                    <li>
                        <a href="{% url 'index' %}"><strong>Dashboard</strong></a>
                    </li>
                </ul>
                <div>Activities</div>
                <ul>
                    <li>
                        <a href="{% url 'todo' %}"><strong>To-Do list</strong></a>
                    </li>
                    <li>
                        <a href="{% url 'projects' %}"><strong>Projects</strong></a>
                    </li>
                    <li>
                        <a href="{% url 'habbits' %}"><strong>Habits</strong></a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}"><strong>Logout</strong></a>
                {% else %}
                <ul>
                    <li>
                        <a href="{% url 'login' %}"><strong>Log in</strong></a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}"><strong>Register</strong></a>
                    </li>
                </ul>
                {% endif %}
            </div>
            <div class="col-lg-10 col-md-9 main-content"> {% endcomment %}
                <div class="container">
                    {% block body %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>