{% extends "citysay/layout.html" %}

{% block title %}Login{% endblock title %}

{% block body %}
    <div class="section-title">Login</div>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="tel" name="cnp" placeholder="CNP" autocomplete="off" maxlength="13">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    
    <div class="text-center sau">
        
        SAU
    </div>

    <div style="text-align: center;">
        <button class ="custom-btn register center-button" style="background-color: #6c63ff; border: none; padding: 10px 15px;">
            <a  style="color: whitesmoke" href={% url "register" %}>Înregistrează-te.</a>
        </button>
    </div>
{% endblock %}