
{% extends "citysay/layout.html" %}
{% load static %}
{% block title %}My Account{% endblock title %}

{% block body %}
    <div class="section-title">My Account</div>

        <div class="section-container d-flex flex-row">
            <div class="info-section account-section">
                {% if message %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endif %}

                <div class="mb-3">
                    <strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}
                </div>
                
                <div class="mb-3">
                    <strong>Email:</strong> {{ user.email }}
                </div>

                <div class="mb-3">
                    <strong>CNP:</strong> {{ user.cnp }}
                </div>
                {% if user.institution and user.institution.name != "None" %}
                    <div class="mb-3">
                        <strong>Institution:</strong> {{ user.institution.name}}
                    </div>
                {% endif %}
            </div>

            <div class="button-section account-section d-flex flex-column align-items-center justify-content-center">
                <a href={% url "my_sesizations" %}>
                    <button class="account-button mb-4">
                        Sesizarile Mele
                    </button>
                </a>
                {% if user.institution.name != "None" and user.institution %}
                <a href={% url "create_poll" %}>
                        <button class="account-button">
                            Creaza Sondaje
                        </button>
                    </a>
                {% endif %}
            </div>
            </div>
        <div class="text-center">
    <img src="{% static 'images/logo.png' %}", width="375" height="375">
</div>
{% endblock %}