{% extends "citysay/layout.html" %}
{% load static %}

{% block title %}Sondaje{% endblock title %}

{% block body %}
<script src={% static "script/polls.js" %}></script>
<div class="">
    <div class="section-title">Sondaje</div>
    {% comment %} Add dropdown with th institution names so a person can chose which institution's polls they want to see {% endcomment %}

    <label for="institution">Alegeti institutia dorita:</label>

    <select name="institution" id="institutions" class="custom-dropdown">
        <option value="-1">Toate institutiile</option>
        {% for institution in institutions %}
            {% if institution.name != "None" %}
                <option value="{{ institution.id }}">{{ institution.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <div class="polls-container d-flex flex-column" id="polls-container">
        {% for poll in polls %}
        <a href="/poll/{{ poll.id }}">
        <div class="poll-card">
            <div class="poll-heading">
                <div class="poll-card-title">{{ poll.title }}</div>
                <div class="poll-card-inst">By: {{ poll.institution.name }}</div>
            </div>
            
            <div class="poll-card-text">{{ poll.description }}</div>
        </div>
        <a>
        {% endfor %}
    </div>
</div>
{% endblock body %}