{% extends "citysay/layout.html" %}
{% load static %}

{% block title %}Polls{% endblock title %}

{% block body %}
<div class="">
    <h2>Polls</h2>
    <div class="polls-container d-flex flex-column">
        <a href="#">
        <div class="poll-card">
            <div class="poll-heading">
                <div class="poll-card-title">Lorem Ipsum Dolor Sit Amet</div>
                <div class="poll-card-inst">By: Colegoil National Pedagogic "Regina Maria" Deva</div>
            </div>
            
            <div class="poll-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula, justo vitae convallis cursus, urna erat lacinia metus, nec blandit nulla urna at nulla. Integer tincidunt, erat vel mattis facilisis, sapien orci aliquam libero, sed luctus justo nisl nec magna. Vivamus vestibulum justo at magna dignissim, a cursus eros fringilla.</div>
        </div>
        <a>
        <a href="#">
        <div class="poll-card">
            <div class="poll-heading">
                <div class="poll-card-title">Lorem Ipsum Dolor Sit Amet</div>
                <div class="poll-card-inst">By: Colegoil National Pedagogic "Regina Maria" Deva</div>
            </div>
            <div class="poll-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula, justo vitae convallis cursus, urna erat lacinia metus, nec blandit nulla urna at nulla. Integer tincidunt, erat vel mattis facilisis, sapien orci aliquam libero, sed luctus justo nisl nec magna. Vivamus vestibulum justo at magna dignissim, a cursus eros fringilla.</div>
        </div>
        <a>
        <a href="#">
        <div class="poll-card">
            <div class="poll-heading">
                <div class="poll-card-title">Lorem Ipsum Dolor Sit Amet</div>
                <div class="poll-card-inst">By: Colegoil National Pedagogic "Regina Maria" Deva</div>
            </div>
            <div class="poll-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula, justo vitae convallis cursus, urna erat lacinia metus, nec blandit nulla urna at nulla. Integer tincidunt, erat vel mattis facilisis, sapien orci aliquam libero, sed luctus justo nisl nec magna. Vivamus vestibulum justo at magna dignissim, a cursus eros fringilla.</div>
        </div>
        <a>
    </div>
</div>
{% endblock body %}