{% extends "citysay/layout.html" %}

{% block title %}Sesizare: {{sesization.title}}{% endblock title %}
{% load static %}
{% block body %}
<div class="sesization-block">
    <script src={% static "script/sesization.js" %}></script>
    <h2 class="sesization-title">{{ sesization.title }}</h2>
    
    <div class="sesization-institution">To: {{ sesization.institution.name }}</div> 
    <div class="sesization-description">
        {{ sesization.description|linebreaksbr }}
    </div>
    <div class="status">Status: {{sesization.status}}</div>

    <div class="change-status">
        {% if sesization.status == "Luat la cunostiinta" %}
            <input type="checkbox" id="status" name="status" value="" disabled checked>
        {% else %}
            <input type="checkbox" id="status" name="status" value="">
        {% endif %}

        <label  for="status">Marcheaza ca si "Luat la cunostiinta"</label>
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrf-token">
    <input type="hidden" name="sesization_id" id="sesization_id" value="{{ sesization.id }}">
</div>
{% endblock body %}